body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background_cafe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.calculator {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.menu-item {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex-basis: 60%;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #9f8c86;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4f4a45;
}

#total {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
